// Geometrical shapes
.square($size, $color) {
  height: $size;
  width: $size;
  background-color: $color;
}

.circle($size, $color) {
  height: $size;
  width: $size;
  border-radius: 50%; 
}

.bottom-triangle() {
  content: "";
  height: 0px;
  width: 0px;
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #ffffff;
  margin-left: 35px; //set these as per requirement.
  margin-top: 65px; // set these as per requirement.
}

.right-triangle() {
  .parent-container:before {
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    top: 30px;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #eeeeee;
  }
}

.container-padding($width:0px) {
  padding-left: $width;
  padding-right: $width;
}

.button-color($font:24px, $padding:30px, $color) {
  background-color: $color;
  font-size: $font;
  font-weight: bold;
  color: white;
  padding-left: $padding;
  padding-right: $padding;
}

.container-margin($value:30px) {
  margin-top: $value;
  margin-bottom: $value;
}

//circle with a central texts
.small-circle($color, $radius) {
  .circle($radius, $color);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  background-color: $color;
  .point { // class of the text
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    padding: 24px;
  }
}


.dialog-box($padding, $radius, $width) {
  padding: $padding;
  background-color: $gray-lighter;
  border-radius: $radius;
  max-width: $width;
}

.border-radius ($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.container-widget($background: white){
  background: $background;
  .box-shadow(0 2px 6px darken($gray-light, 10%));

}

.top-border-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bottom-border-radius($radius) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

